// Changing bulma variables and adding global styles 
 @charset "utf-8";

// Import a Google Font 
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$mist: #90AFC5;
$stone: #336B87 ;
$sky: #75B1A9;
$sunglow: #D9B44A;
$pink: #FA7C91;
$blue: #37c7f2;
$light-red: #fff3f3;
$light: #fafcff;
$green: #0bf387;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $stone;
$link: $blue;

// Update some of Bulma's component variables 
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;
$input-shadow: none;


// Global Styles
html, body{
    height: 100%;
    font-size: 18px;
    overflow: hidden;
}

